@{
    ViewData["Title"] = "Alergias";
}
<h1>@ViewData["Title"]</h1>

    <div class="card-body">
        <h5 class="card-title">Alergias</h5>
        <p class="card-text">
        Las alergias son una respuesta inmunológica exagerada del cuerpo a una sustancia
        que generalmente es inofensiva para la mayoría de las personas. Esta sustancia, 
        conocida como alérgeno, desencadena una reacción en el sistema inmunológico que puede 
        causar una variedad de síntomas. Aquí tienes información importante sobre las alergias, sus 
        tipos, síntomas y tratamiento:
        </p>
    <div class="col-md-6 mx-auto" ">
        <img src="/Imagenes/Alergias.jpg" class="card-img-top" alt="Imagen de la depresión">
    </div>
    <h5 class="card-title">Tipos de alergias:</h5>
    <p class="card-text">
        Existen varios tipos de alergias, pero los más comunes incluyen:
    </p>
    <h5 class="card-title">Alergias alimentarias: </h5>
    <p class="card-text">
        Reacciones alérgicas a alimentos como cacahuetes, nueces, leche, huevos, trigo, soja y 
        mariscos. Los síntomas pueden variar desde leves hasta potencialmente mortales en casos graves.
    </p>
    <h5 class="card-title">Alergias respiratorias:</h5>
    <p class="card-text">
        Incluyen alergias al polen (fiebre del heno), ácaros del polvo, pelo de animales y moho. 
        Estas alergias pueden causar síntomas como estornudos, congestión nasal, picazón en los ojos y asma.
    </p>
    <h5 class="card-title">Alergias cutáneas:</h5>
    <p class="card-text">
        Ejemplos incluyen urticaria (ronchas) y dermatitis de contacto. Estas alergias causan picazón,
        enrojecimiento y erupciones cutáneas en la piel.
    </p>
    <h5 class="card-title">Alergias a medicamentos:</h5>
    <p class="card-text">
        Algunas personas pueden ser alérgicas a ciertos medicamentos, lo que puede provocar reacciones 
        adversas, como erupciones cutáneas, dificultad para respirar y anafilaxia.
        <div class="col-md-6 mx-auto" ">
            <img src="/Imagenes/Alergias2.jpg" class="card-img-top" alt="Imagen de la depresión">
        </div>
    </p>
    <h5 class="card-title">Síntomas de las alergias:</h5>
    <p class="card-text">
        Los síntomas de las alergias pueden variar según el tipo de alergia y la sensibilidad de la persona, pero pueden incluir:
    </p>
    <p>
        <mark>Estornudos y congestión nasal.</mark>
    </p>
    <p>
        <mark>Picazón en la piel, ojos y garganta.</mark>
    </p>
    <p>
        <mark>Tos y dificultad para respirar.</mark>
    </p>
     <p>
        <mark>Erupciones cutáneas, como urticaria o eczema.</mark>
    </p>
    <p>
        <mark>Dolor de cabeza.</mark>
    </p>
    <p>
        <mark>Náuseas y vómitos (en el caso de alergias alimentarias).</mark>
    </p>
    <p>
        <mark>Anafilaxia (una reacción alérgica potencialmente mortal que puede causar dificultad para respirar 
            y caída de la presión arterial).</mark>
    </p>
    <p>
        <mark>Tos y dificultad para respirar.</mark>
    </p>
    <h5 class="card-title">Tratamiento de las alergias:</h5>
    <p class="card-text">
        El tratamiento de las alergias depende de la gravedad y el tipo de alergia. Las estrategias comunes incluyen:
    </p>
    <h5 class="card-title">Evitación:</h5>
    <p class="card-text">
        Evitar el alérgeno desencadenante es la medida más efectiva para prevenir las reacciones alérgicas.
    </p>
    <h5 class="card-title">Antihistamínicos:</h5>
    <p class="card-text">
        Los antihistamínicos son medicamentos de venta libre que pueden aliviar síntomas como picazón, estornudos y congestión.
    </p>
    <h5 class="card-title">Corticosteroides:</h5>
    <p class="card-text">
        Los corticosteroides tópicos o inhalados pueden ayudar a reducir la inflamación y aliviar los síntomas en casos de alergias respiratorias o cutáneas.
    </p>
    <h5 class="card-title">Inmunoterapia:</h5>
    <p class="card-text">
        La inmunoterapia, como las inyecciones de alergia o tabletas sublinguales, puede ser recomendada por un alergólogo 
        para tratar alergias graves y ayudar al cuerpo a desarrollar una tolerancia al alérgeno.
    </p>
    <h5 class="card-title">Epinefrina: </h5>
    <p class="card-text">
        Las personas con alergias graves, como las alergias alimentarias que pueden causar anafilaxia,
        pueden llevar consigo un autoinyector de epinefrina para tratar reacciones graves.
    </p>
    Si sospechas que tienes una alergia o has experimentado una reacción alérgica, es importante 
    buscar atención médica para un diagnóstico adecuado y un plan de manejo. Un alergólogo es un 
    especialista en alergias que puede realizar pruebas de alergia y proporcionar orientación sobre el 
    tratamiento y la prevención de futuras reacciones alérgicas.
    </div>

<body style="background-color: #333333; color: white;">
    <!-- Cambia "black" por el color que desees para el fondo -->
    <!-- Contenido de tu página -->
</body>
