@{
    ViewData["Title"] = "Ansiedad";
}
<h1>@ViewData["Title"]</h1>
<body style="background-color: #333333;">
    <!-- Color de fondo gris claro -->
    <!-- Contenido de tu página -->
</body>


<div class="col-md-6 mx-auto" ">
    <img src="/Imagenes/ansiedad1.jpg" class="card-img-top" alt="Imagen de la depresión">
</div>
    <div class="card-body">
        <h5 class="card-title">Ansiedad</h5>
        <p class="card-text">
            La ansiedad es un sentimiento de miedo, temor e inquietud. Puede hacer que sude, se sienta 
            inquieto y tenso, y tener palpitaciones. Puede ser una reacción normal al estrés. Por ejemplo,
            puede sentirse ansioso cuando se enfrenta a un problema difícil en el trabajo, antes de tomar 
            un examen o antes de tomar una decisión importante. Si bien la ansiedad puede ayudar a 
            enfrentar una situación, además de darle un impulso de energía o ayudarle a concentrarse, 
            para las personas con trastornos de ansiedad el miedo no es temporal y puede ser abrumadora.
            «anticuerpos».
            <h5 class="card-title">Los síntomas más habituales son:</h5>
            <ul>
                <li>Preocupación excesiva o pensamientos intrusivos..</li>
                <li>Sensación de nerviosismo, inquietud o agitación..</li>
                <li>Fatiga o cansancio constante.</li>
                <li>Tensión muscular y problemas para relajarse.</li>
                <li> Irritabilidad.</li>
                <li>Dificultad para concentrarse. </li>
                <li>Palpitaciones o latidos cardíacos acelerados. </li>
                <li>Sudoración excesiva </li>
                <li> Mareos o sensación de desmayo</li>
                <li>Problemas gastrointestinales como dolor de estómago o náuseas. </li>
            </ul>
        <div class="col-md-6 mx-auto" ">
            <img src="/Imagenes/Ansiedad2.jpg" class="card-img-top" alt="Imagen de la depresión">
        </div>
            <h5 class="card-title">Tratamiento de la ansiedad:</h5>
            El tratamiento de la ansiedad puede involucrar una combinación de terapias y, en algunos casos, 
            medicamentos. Aquí hay algunas opciones comunes:
            <li>Terapia cognitivo-conductual (TCC):</li>
            La TCC es una terapia que se enfoca en cambiar patrones de pensamiento y comportamiento negativos.
            Es eficaz para muchos trastornos de ansiedad.
            <li>Terapia de exposición: </li>
            Este enfoque implica enfrentar gradualmente los miedos o situaciones que desencadenan la ansiedad, 
            lo que ayuda a reducir la respuesta ansiosa.
            <li>Medicamentos </li>
            Los médicos pueden recetar medicamentos como antidepresivos, ansiolíticos o betabloqueantes para tratar la ansiedad. 
            Estos deben ser recetados y supervisados por un profesional de la salud.
            <li>Terapia de relajación:</li>
            Técnicas como la meditación, la respiración profunda y el yoga pueden ayudar a reducir la ansiedad y el estrés.
            <li>Cambios en el estilo de vida</li>
            Mantener un estilo de vida saludable, que incluya una dieta equilibrada, ejercicio regular y suficiente descanso,
            puede tener un impacto positivo en la ansiedad.
            <li>Apoyo social:</li>
            Hablar sobre tus sentimientos y preocupaciones con amigos, familiares o un terapeuta puede ser beneficioso.

        <p>
            Es importante recordar que el tratamiento de la ansiedad debe ser personalizado y adaptado a las necesidades de cada individuo.
            Si experimentas síntomas de ansiedad que interfieren significativamente en tu vida diaria, es fundamental buscar ayuda de un
            profesional de la salud mental. No debes sentirte solo en este proceso, ya que hay recursos y apoyo disponibles para ayudarte a manejar la ansiedad de manera efectiva.
       
        </p>
        
    </div>
