@{
    ViewData["Title"] = "Cólicos";
}
<h1>@ViewData["Title"]</h1>



    <div class="card-body">
    <h5 class="card-title">Cólicos</h5>
        <p class="card-text">
        Los cólicos menstruales son dolores en la parte baja del abdomen (pelvis) unos días antes, 
        durante o después de un periodo menstrual. El dolor tiende a ser más intenso unas 24 horas 
        después de iniciarse los periodos y desaparece en 2 a 3 días. El dolor suele ser de tipo cólico
        o un dolor sordo y constante, pero puede ser agudo o pulsátil y puede aparecer y desaparecer. A 
        veces se extiende a la parte baja de la espalda o las piernas.
    <p> </p>
        A menudo también se experimenta cefalea, náuseas (a veces con vómitos) y estreñimiento o 
        diarrea. Se tiene la necesidad de orinar con frecuencia.
        </p>
   <div class="col-md-6 mx-auto" ">
    <img src="/Imagenes/colicos1.jpg" class="card-img-top" alt="Imagen de la depresión">
</div>
    <p> </p>
    <div class="contenedor-flex">
        <h5 class="card-title">Los síntomas más habituales son:</h5>
    </div>
    <h5 class="card-title"> Causas de los cólicos menstruales</h5>
        <p class="card-text">
        Los cólicos menstruales son causados principalmente por las contracciones del útero mientras
        se desprende el revestimiento uterino durante la menstruación. Estas contracciones ayudan a 
        expulsar el tejido y la sangre menstrual. Sin embargo, en algunas mujeres, estas contracciones 
        pueden ser más intensas y causar dolor. Algunos factores que pueden contribuir a los cólicos menstruales 
        incluyen
        </p>
    <h5 class="card-title"> Prostaglandinas:</h5>
    <p class="card-text">
        Las prostaglandinas son sustancias químicas que el cuerpo produce en respuesta a la menstruación. En
        algunas mujeres, las prostaglandinas pueden causar contracciones uterinas más fuertes y dolorosas.
    </p>
    <h5 class="card-title"> Hormonas: </h5>
    <p class="card-text">
        Los cambios en los niveles hormonales durante el ciclo menstrual pueden influir en la intensidad de los cólicos.
    </p>
    <h5 class="card-title"> Endometriosis: </h5>
    <p class="card-text">
        Esta es una afección en la que el tejido similar al revestimiento uterino crece fuera del útero y puede causar cólicos menstruales intensos.
    </p>
    <h5 class="card-title"> Tratamiento de los cólicos menstruales: </h5>
    <p class="card-text">
        El tratamiento de los cólicos menstruales depende de su gravedad y de cómo afecten tu calidad de vida. Aquí hay algunas opciones de tratamiento:
    </p>
    <h5 class="card-title"> Analgésicos de venta libre: </h5>
    <p class="card-text">
        Los medicamentos antiinflamatorios no esteroides (AINEs) como el ibuprofeno o el naproxeno pueden aliviar el dolor y reducir la inflamación.
        Es importante tomarlos según las indicaciones del envase.
    </p>
    <h5 class="card-title"> Calor:  </h5>
    <p class="card-text">
        Aplicar calor en el área abdominal con una almohadilla térmica o una botella de agua caliente puede ayudar a relajar los músculos y aliviar el dolor.
    </p>
    <h5 class="card-title"> Ejercicio:</h5>
    <p class="card-text">
        El ejercicio regular puede ayudar a reducir la intensidad de los cólicos menstruales al mejorar la circulación sanguínea y liberar endorfinas, que son analgésicos naturales.
    </p>
    <h5 class="card-title">Suplementos de calcio y magnesio:</h5>
    <p class="card-text">
        Algunas mujeres encuentran alivio tomando suplementos de calcio y magnesio antes y durante la menstruación.
    </p>
    <h5 class="card-title">Anticonceptivos:</h5>
    <p class="card-text">
        En algunos casos, los anticonceptivos hormonales, como las píldoras anticonceptivas, pueden ayudar a reducir los cólicos menstruales al regular los niveles hormonales y reducir la cantidad de tejido uterino que se desprende.
    </p>
    <div class="col-md-6 mx-auto" ">
        <img src="/Imagenes/Colicos2.jpg" class="card-img-top" alt="Imagen de la depresión">
    </div>
    <h5 class="card-title">Atención médica: </h5>
    <p class="card-text">
        Si los cólicos menstruales son graves o no responden a los tratamientos caseros, es importante consultar a un médico. En casos de endometriosis u otras condiciones subyacentes, puede ser necesario un tratamiento médico más específico.
    </p>
    <p> </p>
    Es importante hablar con un profesional de la salud si experimentas cólicos menstruales intensos o si los síntomas interfieren significativamente en tu vida cotidiana. Pueden evaluarte y trabajar contigo para encontrar la mejor 
    estrategia de tratamiento para tus necesidades individuales.

        
    <body style="background-color: #333333; color: white;">
        <!-- Cambia "black" por el color que desees para el fondo -->
        <!-- Contenido de tu página -->
    </body>
</>