@{
    ViewData["Title"] = "Depresiòn";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    
        <div class="row">
            <div class="col-md-6.5 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">¿Qué es la Depresión?</h5>
                    <p class="card-text">
                        La depresión es un trastorno mental caracterizado fundamentalmente por un bajo estado de ánimo y
                        sentimientos de tristeza, asociados a alteraciones del comportamiento, del grado de actividad
                        y del pensamiento.
                    </p>
                <div class="col-md-6 mx-auto" ">
                    <img src="/Imagenes/Depresion.jpg" class="card-img-top" alt="Imagen de la depresión">
                </div>
                </div>
            </div>
           
        </div>
        
        <div class="card-body">
            <h5 class="card-title">Los síntomas más habituales son:</h5>
            <ul>
                <li>Tristeza patológica.</li>
                <li>Pérdida de interés.</li>
                <li>Disminución de la vitalidad.</li>
                <li>Cansancio exagerado.</li>
            </ul>
        <div class="col-md-6 mx-auto" ">
            <img src="/Imagenes/Depresion1.jpg" class="card-img-top" alt="Imagen de la depresión">
        </div>
        <p> </p>
        <h5 class="card-title">Tratamiento de la depresión: </h5>
        <p class="card-text">
            La depresión es una afección tratable, y la mayoría de las personas pueden mejorar 
            significativamente con el tratamiento adecuado. Las opciones de tratamiento incluyen:
        </p>
        <h5 class="card-title">Terapia psicológica: </h5>
        <p class="card-text">
            La terapia cognitivo-conductual (TCC) y otras formas de terapia pueden ayudar a las
            personas a identificar y cambiar patrones de pensamiento y comportamiento negativos.
        </p>
        <h5 class="card-title">Medicamentos: </h5>
        <p class="card-text">
            Los antidepresivos son medicamentos recetados que pueden ayudar a equilibrar
            los neurotransmisores en el cerebro. Los tipos y dosis específicos dependen de la situación individual.
        </p>
        <h5 class="card-title">Apoyo social:</h5>
        <p class="card-text">
            El apoyo de amigos y familiares puede ser invaluable para quienes luchan contra la depresión. 
            También existen grupos de apoyo y comunidades en línea donde las personas pueden compartir sus experiencias.
        </p>

         <h5 class="card-title">Estilo de vida saludable: </h5>
        <p class="card-text">
            Mantener un estilo de vida saludable, que incluye ejercicio regular, una dieta equilibrada, 
            sueño adecuado y evitar el abuso de sustancias, puede tener un impacto positivo en la depresión.
        </p>
            <p>
               Es importante buscar ayuda profesional si tú o alguien que conoces está experimentando síntomas
               de depresión. La depresión no es una señal de debilidad y puede afectar a cualquier persona en
               cualquier momento. El tratamiento oportuno puede ayudar a aliviar el sufrimiento y mejorar la 
               calidad de vida. Si tienes pensamientos suicidas o conoces a alguien que los tenga, busca ayuda 
               inmediatamente llamando a una línea de prevención del suicidio o acudiendo a una sala de urgencias.
            </p>

            </div>
       
   
</body>
<body style="background-color: #333333; color: white;">
    <!-- Cambia "black" por el color que desees para el fondo -->
    <!-- Contenido de tu página -->
</body>
</html>

