@{
    ViewData["Title"] = "Diabetes";
}
<h1>@ViewData["Title"]</h1>


<div class="card col-6">
    <img src="/Imagenes/ansiedad1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Diabetes</h5>
        <p class="card-text">
            La ansiedad es un sentimiento de miedo, temor e inquietud. Puede hacer que sude, se sienta 
            inquieto y tenso, y tener palpitaciones. Puede ser una reacción normal al estrés. Por ejemplo,
            puede sentirse ansioso cuando se enfrenta a un problema difícil en el trabajo, antes de tomar 
            un examen o antes de tomar una decisión importante. Si bien la ansiedad puede ayudar a 
            enfrentar una situación, además de darle un impulso de energía o ayudarle a concentrarse, 
            para las personas con trastornos de ansiedad el miedo no es temporal y puede ser abrumadora.
            «anticuerpos».
        </p>
        <a href="#" class="btn btn-danger">Leer más</a>
    </div>
</div>