@{
    ViewData["Title"] = "Diabetes";
}
<h1>@ViewData["Title"]</h1>


    
    <div class="card-body">
        <h5 class="card-title">Diabetes</h5>
        <p class="card-text">
        La diabetes es una enfermedad crónica que afecta la forma en que el cuerpo maneja el 
        azúcar en la sangre (glucosa). Hay varios tipos de diabetes, pero los dos tipos principales
        son la diabetes tipo 1 y la diabetes tipo 2. Aquí tienes información importante sobre la diabetes, 
        sus síntomas, diagnóstico y tratamiento.
        <div class="col-md-6 mx-auto" ">
            <img src="/Imagenes/Diabetes.jpg" class="card-img-top" alt="Imagen de la depresión">
        </div>
            <h5 class="card-title">Síntomas de la diabetes:</h5>
            Los síntomas de la diabetes pueden variar según el tipo y la gravedad de la enfermedad, 
            pero algunos de los síntomas más comunes incluyen:
        <p> </p>
        <p>Para la diabetes tipo 1:</p>
            <ul>
            <li>Sed excesiva y aumento de la sed.</li>
            <li>Micción frecuente.</li>
            <li>Hambre constante.</li>
            <li>Pérdida de peso inexplicada.</li>
            <li>Fatiga.</li>
            <li>Visión borrosa.</li>
            <li>Heridas que sanan lentamente</li>
            <p> </p>
            <p>Para la diabetes tipo 2:</p>

            <li>Sed excesiva y aumento de la sed.</li>
            <li>Micción frecuente.</li>
            <li>Hambre constante.</li>
            <li>Fatiga.</li>
            <li>Visión borrosa.</li>
            <li>Heridas que sanan lentamente.</li>
            <li>Infecciones frecuentes.</li>
            <li>Hormigueo o entumecimiento en manos o pies.</li>
            <p> </p>
            <h5 class="card-title">Diagnóstico de la diabetes:</h5>
            <p> </p>
            El diagnóstico de la diabetes generalmente se basa en los niveles de glucosa en sangre.
            Los médicos utilizan pruebas de glucosa en ayunas y pruebas de hemoglobina A1c para determinar 
            si alguien tiene diabetes. Si tienes síntomas de diabetes o factores de riesgo, como antecedentes 
            familiares, es importante que consultes a un médico para realizar pruebas de diagnóstico.
            <p> </p>
        <div class="col-md-6 mx-auto" ">
            <img src="/Imagenes/Diabetes2.jpg" class="card-img-top" alt="Imagen de la depresión">
        </div>
            <h5 class="card-title">Tratamiento de la diabetes:</h5>
            El tratamiento de la diabetes varía según el tipo de diabetes y la gravedad de la enfermedad.
            Aquí hay algunas estrategias comunes de tratamiento:
            <p> </p>
            <h5 class="card-title">Para la diabetes tipo 1:</h5>
            nsulina: Las personas con diabetes tipo 1 necesitan insulina porque su cuerpo no la produce. 
            La insulina se administra mediante inyecciones o una bomba de insulina.
            <p> </p>
            <h5 class="card-title">Para la diabetes tipo 2:</h5>
            <li>Cambios en el estilo de vida: Esto incluye una dieta saludable, ejercicio regular y control del peso.</li>
            <li>Medicamentos orales: Algunas personas con diabetes tipo 2 pueden necesitar medicamentos que ayuden al cuerpo 
                a utilizar la insulina de manera más efectiva o a reducir la producción de glucosa por parte del hígado.</li>
            <li>Insulina: En algunos casos, las personas con diabetes tipo 2 pueden requerir insulina si otros tratamientos no son efectivos.</li>
          <p> </p>
            <p>El manejo de la diabetes también implica monitorear los niveles de glucosa en sangre regularmente, 
                llevar un registro de la alimentación y hacer ajustes en la medicación o el estilo de vida según
                sea necesario. La educación sobre la diabetes es fundamental para aprender a controlarla adecuadamente. </p>
            <p>Es importante trabajar de cerca con un equipo de atención médica, que puede incluir un médico, un dietista, 
                un educador en diabetes y un endocrinólogo, para desarrollar un plan de manejo de la diabetes que sea 
                adecuado para ti. Un buen control de la diabetes puede ayudar a prevenir complicaciones a largo plazo y
                mejorar la calidad de vida.</p>
            </ul>
        </p>
    <body style="background-color: #333333; color: white;">
        <!-- Cambia "black" por el color que desees para el fondo -->
        <!-- Contenido de tu página -->
    </body>
    </div>
