@{
    ViewData["Title"] = "Enfermedades";
}
<h1>@ViewData["Title"]</h1>


<div class="card col-6">
    <img src="/Imagenes/enfermedades.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Enfermedades</h5>
        <p class="card-text">
            Las alergias aparecen cuando el sistema
            inmunitario reacciona ante una sustancia extraña
            (como el polen, el veneno de abejas o la caspa de
            las mascots) o un alimento que no provoca una
            reacción en la mayoría de las personas. Tu sistema
            inmunitario produce sustancias conocidas como
            «anticuerpos».
        </p>
        <a href="#" class="btn btn-danger">Leer más</a>
    </div>
</div>
