@{
    ViewData["Title"] = "EmergencyP4";
}



<body style="background-color: black; color: white;">
    <div class="video-container">
        <video autoplay muted loop id="bg-video">
            <source src="/imagenes/emergency.webm" type="video/mp4">
            <!-- Agrega formatos adicionales de video aquí si es necesario -->
        </video>
        <div class="video-overlay">
            <!-- Contenido superpuesto (texto u otros elementos) -->
            <div class="text-center m-5">

                <a class="btn btn-primary btn-lg" style="border: 2px solid #e74c3c; border-radius: 10px; color: white;" href="/Home/Registrar">Registrate</a>
            </div>

        </div>

    </div>
</body>
