@{
    ViewData["Title"] = "EmergencyP4";
}

<div class="text-center">
    <h1 class="display-6">Emergencias escolares</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <img src="/Imagenes/Ambulancia.jpg" />
    </div>
  
</div>
<div class="text-center m-2">
  <a class="btn btn-success" href="/Cuentas/Registrar">Registrate o inicia sesion</a>
</div>

<script type="text/javascript">

    $("document").ready(function () {

    alert("Bienvenido esta pagina aun esta en construccion.");
    }); 
</script>