@{
    ViewData["Title"] = "Doctora";
}
<h1>@ViewData["Title"]</h1>

<div style="width: 48%;">
<div class="col-md-5 mx-auto" ">
    <img src="/Imagenes/doctora.jpg" alt="Descripción de la imagen" width="200">
</div>
</div>
<div style="width: 48%;">
    <div class="card-body">

        <p class="card-text">
        Nombre: Nayeli Lizbeth González López
        <br></br>
        Edad: 24
        <br></br>
        Escuela: Centro universitario de ciencias de la salud (CUCS)
        <br></br>
        Correo: nayeli.gonzalez5930@alumnos.udg.mx.
        </p>

    </div>
</div>
<body style="background-color: #333333; color: white;">
    <!-- Cambia "black" por el color que desees para el fondo -->
    <!-- Contenido de tu página -->
</body>
