@model Usuario


<div class="container">

    <form asp-action="Registrar" method="POST">
        <div class="row">


            <h1>Formulario de Registro</h1>
            <br>

            <div class="col col-lg-6">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Paterno</label>
                    <input asp-for="Paterno" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Materno</label>
                    <input asp-for="Materno" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Correo</label>
                    <input asp-for="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Clave</label>
                    <input asp-for="Clave" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Edad</label>
                    <input asp-for="Edad" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Altura</label>
                    <input asp-for="Altura" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Peso</label>
                    <input asp-for="Peso" class="form-control">
                </div>

            </div>


            <div class="col col-lg-6">
                <br />
                <br />
                <div class="form-group">
                    <label class="control-label">Enfermedad</label>
                    <select asp-for="Enfermedad" id="Enfermedad" name="Enfermedad" required>
                        <option value="ansiedad">Ansiedad</option>
                        <option value="diabetes">Diabetes</option>
                        <option value="estres">Estres</option>
                        <option value="depresion">Depresiòn</option>
                        <option value="ninguno">Ninguna</option>
                        <option value="otra">Otra</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Alergias</label>
                    <input asp-for="Alergias" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Telefono</label>
                    <input asp-for="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Tel Emergencias</label>
                    <input asp-for="TelefonoEmergencias" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Tutor</label>
                    <input asp-for="Tutor" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Otro</label>
                    <input asp-for="Otro" class="form-control">
                </div>


                <input type="submit" value="Registrar Alumno" class="btn btn-primary" />

                <!-- Puedes agregar contenido adicional en esta columna si es necesario -->

            </div>

        </div>

    </form>
</div>
